:root {
  font-size: 0.785rem;
  font-family: "Rubik", sans-serif;
  vertical-align: baseline;
  --blue: #0d6edf;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #30c997;
  --cyan: #0dcaf0;
  --dark: #292a2b;
  color: #fff;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
  outline: 0 none;
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: var(--green);
  width: 100vw;
  height: 100vh;
}

section {
  background-color: var(--dark);
  width: 50vw;
  height: 50vh;
}

div{
  background-color: var(--yellow);
  width: 25vw;
  height: 25vh;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}